// Déclaration des mixins

@mixin transition($who, $length, $type) {
	-webkit-transition: $who $length $type;
	-o-transition: $who $length $type;
	transition: $who $length $type;
};

@mixin transform($transform-type, $value) {
	-webkit-transform: $transform-type+'(#{$value})';
	-ms-transform: $transform-type+'(#{$value})';
	-o-transform: $transform-type+'(#{$value})';
	transform: $transform-type+'(#{$value})';
};
