@media #{$small-up} {
	.padding-page {
		padding-top: rem-calc(70);
		padding-bottom: rem-calc(50);
	}
	.entry-content {
		a {
			text-decoration: none;
			border-bottom: solid 2px rgba($primary-color, 1);
		}
	}
	h1, h2 {
		letter-spacing: rem-calc(2);
	}
}

@media #{$small-only} {
	.container {
		margin-top: rem-calc(40);
	}
}

@media #{$medium-only} {
	.container {
		margin-top: rem-calc(50);
	}
}

@media #{$large-up} {
	.is-fixed-and-scrollable {
		position: fixed;
		max-height: 100vh;
		overflow-y: auto;
	}
	::-webkit-scrollbar {
		width: 0 !important;
	}
}

/*
 * Style pour la nav entre articles
 */


@media #{$small-up} {
	.nav-between-articles {
		text-align: center;
		// padding: rem-calc(0);
		background: rgba($white, 1);
		a {
			text-decoration: none;
		}
		.icon-grid {
			position: relative;
			left: 2px;
		}
	}
}