
// HOME PAGE

@media #{$small-up} {
	.pos-home-full {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-size: cover;
		background-position: center;
		@include transform (translateX, 66.66666%);
	}
	.home-thumb {
		position: relative;
		overflow: hidden;
		@include transition(all, 300ms, ease-in-out);
		.thumb-overlay {
			background: rgba($jet, .66);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include transition(all, 300ms, ease-in-out);
		}
		h2 {
			width: 75%;
			position: absolute;
			z-index: 800;
			bottom: rem-calc(50);
			color: $white;
			padding: rem-calc(20);
			margin: 0;
			line-height: rem-calc(26);
			font-size: $h2-font-size;
			@include transition(all, 300ms, ease-in-out);
			border-top: solid 1px rgba($primary-color, .5);
			border-bottom: solid 1px rgba($primary-color, .5);
		}
		&:hover {
			.thumb-overlay {
				opacity: 0;
			}
			h2 {
				bottom: -500px;
			}
			opacity: 1;
			background: rgba($primary-color, .5);
		}
	}
}

// Responsive mobile et tablette - C'est pareil pour tablette et mobile
@media #{$small-only} {
	.home-thumb {
		opacity: 1;
		h2 {
			max-height: 33%;
			bottom: 33%;
			width: 75%;
			left: 12.5%;
			right: 12.5%;
			// margin: auto;
			text-align: center;
			padding:  rem-calc(15);
			font-size: $h3-font-size;
			border-top: solid 1px rgba($white, .5);
			border-bottom: solid 1px rgba($white, .5);
		}
	}
}

@media #{$medium-only} {
	.home-thumb {
		opacity: 1;
		h2 {
			max-height: 33%;
			bottom: 33%;
			width: 75%;
			left: 12.5%;
			right: 12.5%;
			// margin: auto;
			text-align: center;
			padding:  rem-calc(15);
			font-size: $h3-font-size;
			border-top: solid 1px rgba($white, .5);
			border-bottom: solid 1px rgba($white, .5);
		}
	}
}

// .inset-shadow {
// 	-webkit-box-shadow: 30px 0 30px -30px rgba($jet, .25) inset;
// 	box-shadow: 30px 0 30px -30px rgba($jet, .25) inset;
// }
