
// HOME PAGE

@media #{$small-up} {
	.home-thumb {
		opacity: .15;
		position: relative;
		background: rgba($primary-color, 1);
		overflow: hidden;
		@include transition(all, 300ms, ease-in-out);
		img {
			max-width: 100% !important;
		}
		h2 {
			background: rgba($primary-color, .9);
			color: $white !important;
			width: 100%;
			position: absolute;
			z-index: 800;
			bottom: -200px;
			color: $secondary-color;
			padding: rem-calc(20);
			margin: 0;
			line-height: rem-calc(26);
			font-size: $h2-font-size;
			@include transition(all, 300ms, ease-in-out);

		}
		&:hover {
			h2 {
				bottom: 0;
			}
			opacity: 1;
			background: rgba($primary-color, .5);
		}
	}
}

// Responsive mobile et tablette
@media #{$small-only} {
	.home-thumb {
		opacity: 1;
		h2 {
			text-align: center;
			bottom: 0;
			font-size: $h3-font-size;
		}
	}
}

@media #{$medium-only} {
	.home-thumb {
		opacity: 1;
		h2 {
			text-align: center;
			bottom: 0;
			font-size: $h3-font-size;
		}
	}
}


.inset-shadow {
	-webkit-box-shadow: 30px 0 30px -30px rgba($jet, .25) inset;
	box-shadow: 30px 0 30px -30px rgba($jet, .25) inset;
}
