
// HOME PAGE

@media #{$small-up} {
	.home-thumb {
		position: relative;
		background: rgba($snow, 1);
		overflow: hidden;
		* {
			-webkit-transition: all 500ms;
			-o-transition: all 500ms;
			transition: all 500ms;
		}
		img {
			opacity: 1;
			max-width: 100% !important;
		}
		h2 {
			min-width: 100%;
			position: absolute;
			left: -800px;
			z-index: 800;
			// bottom: rem-calc(50);
			color: $secondary-color;
			padding: rem-calc(20);
			padding-bottom: 0;
			line-height: rem-calc(26);
			font-size: $h2-font-size;
			// border-bottom: solid 1px $secondary-color;
		}
		&:hover {
			img {
				opacity: .15;
			}
			h2 {
				left: 0;
			}
		}
	}

}

@media #{$small-only} {
	.home-thumb {
		img {
			opacity: .15;
		}
		h2 {
			text-align: center;
			left: 0;
			font-size: $h3-font-size;
		}
	}
}


.inset-shadow {
	-webkit-box-shadow: 30px 0 30px -30px rgba($jet, .25) inset;
	box-shadow: 30px 0 30px -30px rgba($jet, .25) inset;
}
