/*
 * Quelques modificiations du code existant qui sont nécessaires
 */
.inner-wrap {
	min-height: 100vh;
}

/*
 * Global style for le menu ;)
 */

@media #{$small-up} { 
	#menu-off-canvas {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1003;
		line-height: 0;
		padding: 20px;
		background-color: $secondary-color;
		color: $white;
		-webkit-transition: all 150ms;
		-o-transition: all 150ms;
		transition: all 150ms;
		&:hover {
			background-color: $primary-color;
		}
	}
}

@media #{$small-only} { 
	#menu-off-canvas {
		padding: 10px;
	}
}

/*
 * Style pour la nav entre articles
 */

@media #{$small-up} {
	.nav-between-articles {
		  text-align: center;
		  position: fixed;
		  left: 0;
		  bottom: 0;
		  padding: rem-calc(15);
		  background: rgba($white, 1);
	}
}
